* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* background-color: #3d4356; */
  /* background-color: #1e2747; */
  background-color: #080f28;
  color: #fff;
  font-family: 'Poppins';
}



body::-webkit-scrollbar {
  width: 10px;
  background: #021b79;
  border-radius: 10px;
  /* background: inherit; */
}

body::-webkit-scrollbar-thumb {
  width: 10px;
  background: rgba(247, 248, 250, 0.2);
  border-radius: 10px;
  /* border-right: 2px solid #021b79; */
}

a {
  color: aliceblue;
  text-decoration: none;
}

.cont {
  /* width: 100%; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid pink; */
  /* margin: 0 auto; */
  /* width: 100%; */
  padding-top: 1.3rem;
  /* border: 2px solid red; */

}

.header_brand {
  /* border: 2px solid red; */
  /* display: inline-block; */
  /* justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none; */
}

.header .header_brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__cube {
  position: relative;
  top: -38px;
  /* margin-left: 5px; */
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 1s;
  cursor: pointer;
}
/* pause */
.square1 { 
  width: 30px;
  height: 32px;
  background: rgba(255, 255, 255, 0.6);
  border: solid 1px #fff;
  border-radius: 2px 0 2px 2px;
  transform: skew(180deg, 210deg);
  position: absolute;
  top: 36px;
}
/* play */
.square2 {
  width: 30px;
  height: 32px;
  background: rgba(255, 255, 255, 0.6);
  border: solid 1px #fff;
  border-radius: 2px;
  transform: skew(180deg, 150deg);
  position: absolute;
  left: 29px;
  top: 36px;
}
/* stop */
.square3 {
  width: 34px;
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  border: solid 1px #fff;
  border-radius: 2px;
  transform: rotate(150deg) translate(-40px, -16px) skew(30deg, 0deg);
  position: absolute;
  left: -30px;
  top: 19px;
}

.stop {
  width: 17px;
  height: 15px;
  background: #f2f2f2;
  /* background: rgba(255, 255, 255, 0.5); */
  border-radius: 5px;
  transform: rotate(150deg) translate(-40px, -16px) skew(30deg, 0deg);
  position: absolute;
  left: -22px;
  top: 26px;
}

.play {
  width: 0;
  height: 0;
  transform: skew(180deg, 140deg);
  position: absolute;
  left: 37px;
  top: 20px;
  border-top: 18px solid transparent;
  border-right: 18px solid transparent;
  /* border-bottom: 18px solid rgba(255, 255, 255, 0.5); */
  border-bottom: 18px solid #f2f2f2;
  border-radius: 6px 2px 4px 0;
}

.square, .play:hover {
  border-bottom: 18px solid #007aff;
  cursor: pointer;
}

.pause1 {
  width: 4px;
  height: 18px;
  background: #f2f2f2;
  /* background: rgba(255, 255, 255, 0.5); */
  border-radius: 5px;
  transform: skew(180deg, 210deg);
  position: absolute;
  left: 10px;
  top: 41px;
}

.pause2 {
  width: 4px;
  height: 18px;
  background: #f2f2f2;
  /* background: rgba(255, 255, 255, 0.5); */
  border-radius: 5px;
  transform: skew(180deg, 210deg);
  position: absolute;
  left: 16px;
  top: 45px;
}

.header_brand #brand_name {
  font-weight: 700;
  font-size: 1.5rem;
  /* color: #0704b1; */
  color: #fff;
  margin-left: 7rem;
}
/* .header .header_brand .brand {
  width: 100%;
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}
.header .header_brand .brand:hover {
  background-color: aliceblue;
} */

.header_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search_box {
  position: relative;
  height: 38px;
  width: 38px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-right: 1rem;
}

/* .search_box.active {
  position: absolute;
  right: 0;
  text-align: center;
  margin: 0 auto;
  width: 57vw;
} */

.search_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: #f2f2f2;
  /* background: rgba(247, 248, 250, 0.2); */
  font-size: 1.6rem;
  /* background-color: #021c7950; */
  border-radius: 50px;
  padding-left: 2rem;
  opacity: 0;
  /* color: white; */
}
.search_box input.active {
  opacity: 1;
}
.search_box .search_btn {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  color: rgb(16, 17, 16);
  background: #60c8da;
  line-height: 36px;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 8px;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search_box .search_btn.active {
  right: 2px;
  height: 34px;
  width: 34px;
  color: #fff;
  /* background: rgba(247, 248, 250, 0.2); */
  background: #3057e6;
  line-height: 34px;
  font-size: 1.8rem;
  transform: rotateY(-50%) rotate(360deg);
  z-index: 999;
}

.search_box .overlay_btn {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  color: #f2f2f2;
  background: #3057e6;
  line-height: 36px;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 8px;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search_box .overlay_btn.active {
  right: 2px;
  height: 34px;
  width: 34px;
  color: #fff;
  background: #233d9f;
  line-height: 32px;
  font-size: 1.8rem;
}

.search_box .cancel_btn {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  height: 33px;
  width: 33px;
  color: red;
  line-height: 36px;
  text-align: center;
  border-radius: 50px;
  font-size: 1.8rem;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search_box .cancel_btn.active {
  right: 33px;
  transform: rotateY(-50%) rotate(360deg); 
}

/* #searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  min-width: 18% !important;
  border-radius: 5px;
  background: #1e232b;
  border: 2px solid yellowgreen;
  position: absolute;
  right: 0;

}

.header_nav #btn_searchForm {
  padding: 10px;
  background: none;
  border: none;
  border-radius: 0 4px 4px 0;
  width: 40px;
  cursor: pointer;
  margin-left: 0.5rem;
  background: #1e232b;
}

input {
  background: #1e232b;
  color: #fff;
  border: none;
  padding: 10px;
  min-width: 18% !important;
}

input[type="text"] {
  border: transparent;
} */

.header_nav p {
  color: #fff;
  /* margin-left: 3rem; */
}

.header_nav .user {
  width: 40px;
}

/* ================================================================= BANNER */
.backdrop {
  margin-top: 5.2rem;
}

#banner header .title {
  text-align: left;
  font-size: calc(1.25vw + 1.25vh + 1.8rem);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1.1rem;
  transition: transform 0.2s ease-in-out;
}

#banner header .subTitle {
  text-align: left;
  font-size: calc(1vw + .5vh + .5rem);
  margin-bottom:  0.8rem;
  line-height: 1.1;
}

#banner .TpTv {
  color: #000;
  background-color: #edb709;
  padding: 0 0.3rem;
  height: 1.6rem;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 1rem;
}

 #banner .votes {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

#banner .users_score {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  position: fixed;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.2); */
  /* border: 1px solid red; */
  background-color: rgba(255, 255, 255, 0.25);
  display: grid;
  place-items: center;
  position: relative;
  top: 0.5rem;
  z-index: 99;
  margin-right: 1.2rem;
  font-size: 1.6rem;
}

#banner .vote_progress {
  position: absolute;
  width: 48px;
  height: 48px;
  /* background-color: rgba(0, 0, 0, 0.256); */
  background-color: rgba(10, 31, 226, 0.256);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

/* .vote_average p.green {
  color: rgb(39, 189, 39);
  
}
.vote_average p.orange {
  color: orange;
}
.vote_average p.red {
  color: rgb(189, 42, 42);
}

.vote_average span:nth-child(1){
  font-size: 1.3rem;
  text-align: center;
  color: #f2f2f2f2;
} */

/* #banner .ratings::after {
  content: "";
  font-size: 1.4rem;
  position: relative;
  left: 1.8rem;
} */

/* .ratings::before {
  content: '';
  color: #edb709;
  padding-right: 0.5rem;
  font-size: 2.5rem;
  margin-right: 0.5rem;
} */

#banner .desciption_genres {
  margin: 0.8rem 0 1.5rem 0;
  /* margin-bottom: 1.5rem; */
  font-size: 1.4rem;
  letter-spacing: 1px;
}

#banner .desciption_genres span{
  font-family: 'Poppins', sans-serif;
  line-height: 2rem;
  font-style: oblique;
  font-weight: 800;
  font-size: 1.4rem;
}

.overview {
  position: relative;
}

#banner .description p:nth-child(2) {
  text-align: justify;
  font-size: 1.8rem;
  color: #8da0bc;
  font-family: 'Poppins', sans-serif;
  line-height: 2.6rem;
  letter-spacing: 0.065rem;
  width: 95%;
  font-weight: 800;
  /* display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; */
}

/* .description .overview {
  position: relative;
  color: #b6cdf0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.overview #showmore::before {
  content: "Read More \27F6";
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #080f28;
  color: #0d79ed;
  padding-left: 1.2rem;
  transition: transform 0.5s;
}

.overview:hover #showmore::before {
  content: "Read More ...";
  cursor: pointer;
  color: #b6cdf0;
  font-weight: bold;
  cursor: pointer;
}

.description.active #showmore::before {
  content: "Show less";
  position: relative;
  display: none;
} */









/* .underside {
  margin-top: 1.3rem;
  display: flex;
  justify-content: space-between;
  z-index: 99;
} */

/* .btn_play {
  color: #fff;
  font-weight: 800;
  background-color: #007aff;
} */

.btn_play {
  margin: 2.5rem 0 0 0;
  cursor: pointer;
  padding: 1rem 2.8rem;
  text-align: center;
  width: auto;
  line-height: 2rem;
  border-radius: 3rem;
  border: 0;
  font-size: 1.8rem;
  background-color: #007aff;
  color: #fff;
  /* font-weight: 800; */
}

.backdrop>.pb_image img{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.backdrop>.pb_image img{
  object-position: 50% 50%!important;
  z-index: -1;
  opacity: 0.5;
}
.backdrop>.pb_image::after {
  background: linear-gradient(to bottom,rgba(8,15,40,0) 0%,rgba(8,15,40,1) 100%);
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}


.btitle--loading {
  background: #007aff;
  /* width: 180px; */
  min-width: 300px;
  max-width: 383px;
  height: 22px;
  /* border-radius: 5px; */
  animation: loading-skeleton infinite 1.5s;
}

.subTitle--loading {
  background: #007aff;
  min-width: 300px;
  max-width: 303px;
  height: 12px;
  /* border-radius: 5px; */
  animation: loading-skeleton infinite 1.5s;
}

.votes .users_score--loading{
  width: 54px;
  height: 54px;
  background-color: #007aff;
  border-radius: 50%;
  /* position: fixed;
  left: 0; */
  /* display: grid;
  place-items: center;
  margin-bottom: 1rem;
  position: relative;
  top: 0.5rem;
  margin-right: 0.5rem; */
  animation: loading-skeleton infinite 1.5s;
}
.ratings {
  display: flex;
  align-items: center;
}
.ratings .star {
  /* outline: none; */
  border: none;
  background-color: unset;
  font-size: 2rem;
  color: #ff9800;
  margin-right: 0.25rem;
  cursor: pointer;
}
.ratings .star:nth-child(5){
  /* color: #ff98; */
  margin-right: 1.5rem;
}
.ratings span {
  width: 15px;
  height: 15px;
  background-color: #007aff;
  border-radius: 50%;
  margin-left: 0.5rem;
  animation: loading-skeleton infinite 1.5s;
}

.meta--loading {
  background: #007aff;
  min-width: 240px;
  max-width: 288px;
  height: 14px;
  margin-left: 1rem;
  /* border-radius: 5px; */
  animation: loading-skeleton infinite 1.5s;
}

.genre--loading {
  background: #007aff;
  min-width: 240px;
  max-width: 288px;
  height: 14px;
  /* border-radius: 5px; */
  animation: loading-skeleton infinite 1.5s;
}

.overview--loading {
  background: #007aff;
  max-width: 90%;
  height: 10px;
  margin-bottom: 0.5rem;
  /* border-radius: 5px; */
  animation: loading-skeleton infinite 1.5s;
}

.TPlay--loading {
  animation: loading-skeleton infinite 1.5s;
  /* padding: 1rem 2.8rem; */
  width: 90px;
  height: 33px;
}

/* ================================================================= CLICKPOSTER */
#movieDetail {
  margin-top: 3.2rem;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
  /* position: relative; */
  font-family: 'Poppins', sans-serif;

}

#movieDetail .TPost {
  padding-right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 8px;
  /* border: 2px solid yellow; */
}
 #movieDetail figure .poster_path{ 
  max-width: 100%;
  object-fit: contain;
  border-radius: 8px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#movieDetail .TPost header .movieDetailTitle {
  text-align: left;
  font-size: calc(1.25vw + 1.25vh + 1.8rem);
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1;
  margin-top: 1.7rem;
}

#movieDetail .TPost header .movieDetailSubTitle {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0.5rem 0 1.5rem 0;
  font-family: 'Roboto Mono', monospace;
}

#movieDetail .TPost #aside {
  width: 100%;
  /* border: 1px solid rgb(46, 183, 237); */
}
#movieDetail .votes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.users_score {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  position: fixed;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: rgba(239, 110, 110, 0.2);
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  position: relative;
  top: 0.5rem;
  margin-right: 0.5rem;
}

.vote_progress {
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.256);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.vote_average p.green {
  color: rgb(39, 189, 39);
  
}
.vote_average p.orange {
  color: orange;
}
.vote_average p.red {
  color: rgb(189, 42, 42);
}

/* .ratings::before {
  content: '';
  color: #edb709;
  padding-right: 0.5rem;
  font-size: 2.4rem;
} */

/* .ratings img {
  width: 13px;
  margin-right: 0.5rem;
} */

.meta {
  /* margin-top: 1rem; */
  /* text-align: left; */
  /* display: flex;
  text-align: center;
  justify-content:flex-start; */
  grid-column: 1 / 3;
  width: max-content;
  /* border: 1px solid red; */
}

/* .votes img {
  width: 100px;
  vertical-align: middle;
  background: rgba(255 255 255 /.125);
  margin-right:  0.5rem;
} */

.meta span {
  float: left;
  text-align: left;
  margin-right: 1.5rem;
  font-size: 1.6rem;
}

/* .meta span:nth-child(4) {
  text-transform: uppercase;
  color: yellowgreen;
} */

.description_inside {
  display: none;
}

#movieDetail .description {
  display: grid;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  /* border: 1px solid red; */
}

.info span {
  margin-right: 1.5rem;
  font-size: 1.5rem;
  line-height: .9;
  color: #f2f2f2;
}
.info p:nth-child(1) {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.info p:nth-child(2) {
  margin-bottom: 0.5rem;
}
.info p {
  color: #8da0bc;
  font-size: 1.5rem;
}
.info ~ div p{
  color: #8da0bc;
  margin: 1rem 0 1.5rem 0;
  font-size: 1.6rem;
  text-align: justify;
}

/* #movieDetail>.pb_image {
  z-index: -1;
} */
.backdrop>.pb_image .clickP{
  position: fixed;
  /* position: absolute; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: 50% 15%; */
  /* top: 0; */
  z-index: -1;
  opacity: .5;
}

.backdrop>.pb_image::after {
  background: linear-gradient(to bottom,rgba(8,15,40,0) 0%,rgba(8,15,40,1) 100%);
  content: '';
  position: fixed;
  /* position: absolute; */
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
}


.billed_cast{
  margin-top: 1rem;
}

.filePath_scrollContainer {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-align: center;
  display: flex;
  margin: 1rem 0 2.8rem 0;
  position: relative;
  transition-duration:  300ms;
  transition-timing-function: ease-out;
}

.filePath_scrollContainer > * {
  scroll-snap-align: start;
}

.filePath_scrollContainer::-webkit-scrollbar {
  height: 9px;
  background: #021b79;
  border-radius: 10px;
  visibility: hidden;
}
.filePath_scrollContainer:hover::-webkit-scrollbar {
  visibility: visible;
}

.filePath_scrollContainer::-webkit-scrollbar-thumb {
  height: 9px;
  background: rgba(247, 248, 250, 0.2);
  border-radius: 10px;
  visibility: hidden;
}
.filePath_scrollContainer:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.container_cast {
  margin-right: 0.7rem;
  border-radius: 6.6px;
  background: #f2f2f2;
  position: relative;
  display: flex;
  justify-content: center;
  /* border: 1px solid #f2f2f2; */
  border: none;
  margin-bottom: 1.2rem;
}

.billycontainer_img {
  height: 100%;
  border: none;
  position: relative;
  cursor: pointer;
  pointer-events: none;
}

.billycontainer_img .billy_img {
  width: 140px;
  height: 100%;
  border-radius: 6px;
  transition: all 0.2s  ease;
  pointer-events: auto;
  border: none;
  outline: none;
  
}

.perfil_info{
  display: none;
  position: absolute;
  left: 6px;
  bottom: 6px;
  z-index: 9999;
}

.perfil_info p{
  white-space: normal;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #000;
  font-weight: bold;
}

.perfil_info p:nth-child(2) {
  line-height: 1.1;
  color: #4b4b4d;
}

.billycontainer_img:hover .gradient_img{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0%,rgb(247, 248, 250) 100%);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transform: scale(1);
  transition-duration:  300ms;
  transition-timing-function: ease-out;
}

/* .billycontainer_img .gradient_img:hover {
  transform: scale(1);
  background: transparent;
  z-index: 99;
  transition: all ease 0.2s;
} */

.container_cast:hover .perfil_info {
  display: block;
}

.related_movies {
  display: grid;
}

.related_movies .mostPopularPreview_container{
  margin-top: 2.5rem;
  /* border: 1px solid grey; */
}
.related_movies .mostPopularPreview_righ{
  margin-top: 2.5rem;
}

.container_triller {
  border-radius: 1rem;
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.9%;
  z-index: 1;
  cursor: pointer;
}

iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.headerTop_container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  align-content: center;
}

.headerTop_container .related_moviesTitle h2{
  margin: 0;
}

.headerTop_container #categories_list::-webkit-scrollbar {
  display: none;
}

/* ================================================================= CAROUSEL */
/* ================= */

.carousel_container {
  position: relative;
}

.carousel_element img{
  transform: scale(0.98);
  transition: all 0.3s ease;
}
.carousel_element:hover img{
  cursor: pointer;
  transform: scale(1);
}

/* .btn_previous, .btn_next {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  border: 0.5px solid #bbb;
  border-radius: 50%;
  background: inherit;
  color: white;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.125);
  box-shadow: 0 0 5px #bbb;
  opacity: 10%;
} */

.btn_previous {
  left: 2.25rem;
  z-index: 1;
}
.btn_next {
  right: -1.7rem;
  z-index: 1;
}

.btn_previous:hover, .btn_next:hover {
  opacity: 100%;
  background: rgba(255, 255, 255, 0.25);
}

.carousel_indicators .glider-dot{
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease;
  visibility: hidden;
  opacity: 0;
}

.overlay .slideshow {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  justify-content: center;
}
.slideshow img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slideshow .btn_previous, .btn_next {
  opacity: 100%;
}

.btn_close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125px;
  transition: all 0.2s ease;
}
.btn_close:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: red;
}

.modal_buttons {
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 5px #bbb;
  border: none;
  border: 0.125px solid rgba(187, 187, 187, 0.634);
  opacity: 20%;
}

.carousel_buttons {
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 5px #bbb;
  border: none;
  border: 0.125px solid rgba(187, 187, 187, 0.634);
  opacity: 20%;
}

.carousel_buttons:hover > i{
  transition: all 0.2s ease;
  color: #007aff;
}
.fa {
  pointer-events: none;
}

/* ================================================================= TRENDING */

.trendingPreview_header {
  /* margin-top: 2rem;/ */
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}

.trendingPreview_title {
  font-size: 2.1rem;
}

.trendingPreview_btn {
  color: #fff;
  font-weight: 800;
  background-color: #007aff;
  width: 100px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.trendingPreview_movieList {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-align: center;
  margin: 0.5rem 0 0.5rem 0;
  display: inline-block;
  overscroll-behavior-inline: contain;
}

.trendingPreview_movieList > * {
  scroll-snap-align: start;
}

.trendingPreview_movieList::-webkit-scrollbar {
  height: 9px;
  background: #021b79;
  border-radius: 10px;
  visibility: hidden;
}
.trendingPreview_movieList:hover::-webkit-scrollbar{
  visibility: visible;
}

.trendingPreview_movieList::-webkit-scrollbar-thumb {
  height: 9px;
  background: rgba(247, 248, 250, 0.2);
  border-radius: 10px;
  visibility: hidden;
}
.trendingPreview_movieList:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}


.container_poster {
  border-radius: 5px;
  transform: scale(0.95);
  transition: all ease 0.25s;
  transition-timing-function: ease-out;
  display: inline-block;
  cursor: pointer;
  transform-origin: center left;
  /* border: 1px solid yellowgreen; */
}

.container_poster .poster_image{
  object-fit: contain;
  /* width: auto; */
  /* width: 180px; */
  max-width: 100%;
  max-height: 270px;
  border-radius: 5px;
  opacity: 0;
  /* border: 2px solid red; */
}

.container_poster .poster_image.show{
  opacity: 1;
}


.container_poster:hover {
  transform: scale(1);
  margin-right: 0.9rem;
}



/* trending skeleton */
.container_poster--loading {
  background: #007aff;
  /* object-fit: contain; */
  width: 180px;
  height: 270px;
  border-radius: 5px;
  animation: loading-skeleton infinite 1.5s;
}

.container_poster--loading:nth-child(1) {
  animation-delay: 0.2s;
}

.container_poster--loading:nth-child(2) {
  animation-delay: 0.4rem;
}


/* category skeleton */
.show_skeleton {
  display: flex;
}
.category_container--loading{
  background: #007aff;
  object-fit: contain;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  animation: loading-skeleton infinite 1.5s;
}

.category_container--loading--loading:nth-child(1) {
  animation-delay: 0.2s;
}

.category_container--loading--loading:nth-child(2) {
  animation-delay: 0.4rem;
}



/* home skeleton */
.poster_image--loading {
  background: #046fe9;
  object-fit: contain;
  width: 100%;
  height: 240px;
  min-height: 200px;
  max-height: 100%;
  border-radius: 5px;
  animation: loading-skeleton infinite 1.5s;
  margin-bottom: 0.5rem;
}

/* .poster_image--loading:nth-child(1) {
  animation-delay: 0.2s;
}

.poster_image--loading:nth-child(2) {
  animation-delay: 0.4rem;
} */

.poster_title--loading {
  background: #007aff;
  min-width: 100px;
  max-width: 160px;
  height: 15px;
  border-radius: 5px;
  animation: loading-skeleton infinite 1.5s;
}



/* aside home skeleton */
.skeleton--loading {
  background: #007aff;
  width: 120px;
  height: 165px;
  border-radius: 5px;
  animation: loading-skeleton infinite 1.5s;
}

.skeleton--loading:nth-child(1) {
  animation-delay: 0.2s;
}

.skeleton--loading:nth-child(2) {
  animation-delay: 0.4rem;
}

.title--loading {
  background: #007aff;
  width: 120px;
  height: 10px;
  border-radius: 5px;
  animation: loading-skeleton infinite 1.5s;
}

.date--loading {
  background: #007aff;
  width: 70px;
  height: 10px;
  border-radius: 5px;
  animation: loading-skeleton infinite 1.5s;
}

/* ================================================================= CATEGORIES */

#id28 { 
  background-image: url(../src/assets/action-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id12 { 
  background-image: url(../src/assets/adventures-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id16 { 
  background-image: url(../src/assets/joystick-3-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id35 { 
  background-image: url(../src/assets/comedy-2-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id80 { 
  background-image: url(../src/assets/crime-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id99 { 
  background-image: url(../src/assets/documentary-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id18 { 
  background-image: url(../src/assets/drama-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id10751 { 
  background-image: url(../src/assets/conference-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id14 { 
  background-image: url(../src/assets/fantasy-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id36 { 
  background-image: url(../src/assets/historical-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id27 { 
  background-image: url(../src/assets/horror-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id10402 { 
  background-image: url(../src/assets/musical-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id9648 { 
  background-image: url(../src/assets/novel-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id10749 { 
  background-image: url(../src/assets/novel-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id878 { 
  background-image: url(../src/assets/sci-fi-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id10770 { 
  background-image: url(../src/assets/hdtv-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id53 { 
  background-image: url(../src/assets/triller-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id10752 { 
  background-image: url(../src/assets/triller-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}
#id37 { 
  background-image: url(../src/assets/western-24.png); 
  background-repeat: no-repeat; 
  background-position: 8px; 
  background-size: 21px; 
  padding-left: 2.8rem;
}

.categoriesPreview_container {
  /* margin: 1.8rem 0 1.5rem 0; */
  margin-top: 1.8rem;
  margin-bottom: 1rem;
  /* border: 1px solid red; */
}

.categoriesPreview_title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.categoriesPreview_list {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-align: center;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding-bottom: 1rem;
}

.categoriesPreview_list > * {
  scroll-snap-align: start;
}

.categoriesPreview_list::-webkit-scrollbar {
  height: 9px;
  background: #021b79;
  border-radius: 10px;
  visibility: hidden;
  /* display: none; */
}
.categoriesPreview_list:hover::-webkit-scrollbar {
  visibility: visible;
}

/* .categoriesPreview_list::-webkit-scrollbar{
  display: none;
} */

.categoriesPreview_list::-webkit-scrollbar-thumb {
  height: 9px;
  background: rgba(247, 248, 250, 0.2);
  border-radius: 10px;
  visibility: hidden;
}
.categoriesPreview_list:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.category_container {
  margin: 0.5rem 0 0.5rem 0;
  margin-right: 1rem;
  border-radius: 23px;
  background-color: #007aff;
  z-index: 99;
  cursor: pointer;
}

.category_btn {
  outline: none;
  border: none;
  background-color: #007aff;
  border-radius: 23px;
  padding: 0.8rem 1rem;
  color: #fff;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.category_btn p {
  margin-left: 1rem;
}

.category_container:hover, .category_btn:hover{
  justify-content: center;
  color: #000;
  font-weight: bold;
}

/* ================================================================= HOME MOVIES */
.home_movies {
  display: grid;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.mostPopularPreview_container {
  display: flex;
  flex-direction: column;
}
.mostPopularPreview_container h2{
  font-size: 1.6rem;
  margin-bottom: 1.25rem;
  padding: 0.4rem 0 0.4rem 0;
  text-transform: uppercase;
  font-weight: 700;

}

.mostPopularPreview_movieGrid {
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 8.5rem;
}

.relatedMoviesPreview_movieGrid {
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 10rem;
}

.movie_container {
  border-radius: 10px;
  transition: all ease 0.25s;
  position: relative;
}

/* .movie_container span{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: 1.2rem;
  border-radius: 23px;
  padding: 0 0.5rem 0 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
} */

.movie_container .poster_image{
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  cursor: pointer;
}
.movie_container:hover {
  transform: scale(1.025)
}
.movie_container .poster_title{
  color: #8da0bc;
  /* color: #0d64e6; */
  line-height: 1.3;
  font-size: 1.4rem;
  /* margin-top: 0.5rem; */
}
.movie_container:hover .poster_title{
  color: #007aff;
}

/* .skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0%{
    background-color: hsl(200, 20%, 70%);
  }
  100%{
    background-color: hsl(200, 20%, 95%);
  }
} */


.mostPopularPreview_righ {
  margin: 20px 0 50px 0;
}

/* .movie_container--loading {
  background: #a5adb6;
  object-fit: contain;
  width: 220px;
  height: 220px;
  border-radius: 5px;
  border: 1px solid red;
  animation: loading-skeleton infinite 1.5s;
}

.movie_contatainer--loading:nth-child(1) {
  animation-delay: 0.2s;
}

.movie_contatainer--loading:nth-child(2) {
  animation-delay: 0.4rem;
} */


/* ================================================================= ASIDE RIGHT */

.upcomingMoviesPreview {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
.upcomingMoviesPreview.active {
  display: block;
}
.upcomingMoviesPreview .top_title {
  display: grid;
  grid-column: 1 / 3;
}

.recomendedMoviesPreview {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
.recomendedMoviesPreview.active {
  display: block;
}

.recomendedMoviesPreview .top_title {
  display: grid;
  grid-column: 1 / 3;
}

.top_title {
  background-color: #141a32;
  border-radius: 3px;
  color: #4f6b95;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  padding: 0.8rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.container_card {
  display: flex;
  margin-bottom: 1.25rem;
}

.container_image img {
  /* border-radius: 10px; */
  width: 120px;
  /* width: 100%; */
  object-fit: contain;
  max-height: 165px;
  transition: all 0.2s ease;

}

.container_image img:hover {
  border-radius: 4px;
  object-fit: contain;
  transform: scale(1.05);  
  cursor: pointer;
}

.container_card .info {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

.container_card .info p {
  font-size: 1.4rem;
  line-height: 1.3;
}
.container_card .info p:hover {
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 1.3;
  color: #0d64e6;
}

.container_card .info span {
  font-size: 1.2rem;
  cursor: pointer;
}


.profile_container {
  margin-top: calc(1.25vw + 1.25vh + 1.8rem);
  display: flex;  
  flex-direction: column;
}

.slideshow_container {
  position: relative;
  /* border: 2px solid red; */
  float: left;
  /* width: 100%; */
  margin-bottom: 2rem;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}



/* .slideshow_container__loading {
  border-radius: 4px;
  background:#007aff;
  object-fit: contain;
  width: 300px;
  height: 165px;
  cursor: pointer;
  border-radius: 5px;
  animation: loading-skeleton infinite 1.5s;
}

.slideshow_container__loading:nth-child(1) {
  animation-delay: 0.2s;
}

.slideshow_container__loading:nth-child(2) {
  animation-delay: 0.4rem;
} */



.buttons_slide {
  position: relative;
  opacity: 0;
}
/* .slideshow_container:hover .buttons_slide.active {
  opacity: 1;
} */
.buttons_slide, .prev {
  position: absolute;
  left: 0.8rem;
  bottom: 0.8rem;
  cursor: pointer;
  background: white;
  border: none;
  outline: none;
  background: transparent !important;
  transition: all 0.4s;
}

.prev::after {
  content: " ";
  border-left: 2px solid #C8A962;
  border-bottom: 2px solid #C8A962;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  cursor: pointer;
  display: block;
}

.prev::before {
  width: 24px;
  height: 2px;
  background: #C8A962;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
}

.buttons_slide, .next {
  position: absolute;
  right: 0.8rem;
  bottom: 0.8rem;
  cursor: pointer;
  /* width: 40px; */
  border: none;
  outline: none;
  background: transparent !important;
  transition: all 0.4s;

}

.next::after {
  content: " ";
  border-right: 2px solid #C8A962;
  border-top: 2px solid #C8A962;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  cursor: pointer;
  display: block;
}
.next::before {
  width: 24px;
  height: 2px;
  background: #C8A962;
  content: "";
  display: block;
  /* vertical-align: middle; */
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slideshow_container:hover .buttons_slide, .prev, .next {
  opacity: 1;
}

.slideshow_container .buttons_slide .prev:hover, .next:hover {
  transform: scale(1.3);
}

/* .slideshow_container:hover.active {
  opacity: 0;
} */

.profile_carouselSlide {
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
  /* width: auto;
  height: auto; */
}

.slideshow_container .profile_poster {
  width: 100%;
  /* max-height: 240px; */
  object-fit: contain;
  float: left;
  border-radius: 3px;
  margin-right: 1.8rem;
  /* margin-bottom: 1.3rem; */
  /* border: 2px solid pink; */
}

.profile_description h1{
  font-size: 2.8rem;
  line-height: 1.1;
  /* white-space: nowrap; */
  /* margin-bottom: 1.2rem; */
  /* display: flex;
  flex-direction: column; */
  margin-bottom: 0.8rem;
}

.profile_description .profile_birthday{
  /* width: 100%; */
  color: #b6cdf0;
  font-size: 2rem;
  line-height: 1;
  /* margin-left: 1rem; */
  /* white-space: wrap; */
}
/* .profile_description h2 {
  font-size: 3rem;z
  margin-top: 1.9rem;
  line-height: 1;
}
.profile_description h6 {
  color: #b6cdf0;
}
.profile_description span {
  color: #b6cdf0;
} */
.profile_description p {
  text-align: justify;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  line-height: 1.5;
  color: #8da0bc;
  /* display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden; */
}

.profile_description .also_known {
  position: relative;
  color: #b6cdf0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* margin-top: 2rem; */
  margin-bottom: 1.5rem;
  /* line-height: 1.2; */
}

.also_known #span::before {
  width: 100%;
  /* content: "Read More \2B4C"; */
  content: "Read More \27F6";
  font-size: 1.5rem;
  background-color: #080f28;
  color: #0d79ed;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 50%;
  /* cursor: pointer; */
  padding-left: 1.2rem;
  transition: all 0.5s;
}

.also_known:hover #span::before {
  content: "Read More ...";
  cursor: pointer;
  display: block;
  color: #b6cdf0;
  font-weight: bold;
  cursor: pointer;
}

.profile_container.active .also_known{
  display: block;
}
.profile_container.active #span::before{
  content: "Show less";
  position: relative;
  display: none;
}


.film_staring .films_movies {
  font-size: 1.8rem;
  margin-top: 1.5rem;
  font-weight: 700;
}

.fimls_staringList {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-align: center;
  margin: 0.5rem 0 0.5rem 0;
  overscroll-behavior-inline: contain;
}

.fimls_staringList > * {
  scroll-snap-align: start;
}

.fimls_staringList::-webkit-scrollbar {
  height: 9px;
  background: #021b79;
  border-radius: 10px;
  visibility: hidden;
}
.fimls_staringList:hover::-webkit-scrollbar{
  visibility: visible;
}

.fimls_staringList::-webkit-scrollbar-thumb {
  height: 9px;
  background: rgba(247, 248, 250, 0.2);
  border-radius: 10px;
  visibility: hidden;
}
.fimls_staringList:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.fimls_staringList .movie_container {
  width: 185px;
  margin-bottom: 0;
}

.fimls_staringList .movie_container .movie_img {
  object-fit: contain;
}

footer{
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.inactive {
  display: none;
}

@keyframes loading-skeleton {
  0%, 100% {
    opacity: 100%;
  }
  50% {
    opacity: 0;
  }
}



@media (min-width: 375px) {
  .headerTop_container {
    align-items: center;
    grid-template-columns: auto 1fr;
    place-content: center;
    align-items: center;
  }
  
  .headerTop_container .related_moviesTitle {
    margin-right: 1.5rem;
  }

  .mostPopularPreview_movieGrid {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
  }
  .relatedMoviesPreview_movieGrid {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
  }
}

@media (min-width: 500px) {
  .slideshow_container {
    position: relative;
    /* border: 2px solid rgb(0, 255, 76); */
    float: left;
    width:45%;
    margin-right: 1.5rem;
    margin-bottom: 1.2rem;
  }

  .profile_container .profile_poster {
    /* width: 45%; */
    width: 100%;
    height: 100%;
    /* max-height: auto; */
    object-fit: contain;
    /* float: left; */
    border-radius: 3px;
    /* margin-right: 1.5rem; */
    margin-bottom: 0;
  }
}

@media (min-width: 540px) {
  main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  #movieDetail .TPost {
    padding-right: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    gap: 15px;
  }

  .meta {
    display: flex;
    align-items: center;
  }
  .meta span:nth-child(3) {
    color: yellow;
  }

  /* .profile_container .profile_poster {
    margin-right: 2.5rem;
  } */

}

@media (max-width: 575px) {
  .search_box.active {
    position: absolute;
    right: 0;
    text-align: center;
    margin: 0 auto;
    width: 57vw;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

}

@media (min-width: 576px) {
  .cont {
    /* max-width: 540px; */
    max-width: 590px;
  }

  .search_box {
    /* border: 1px solid red; */
    /* position: relative; */
    width: 37vw;
    z-index: 1;
    display: block;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .search_box .cancel_btn {
    display: none;
  }

  .mostPopularPreview_movieGrid {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
  }

  .relatedMoviesPreview_movieGrid {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
  }

  .upcomingMoviesPreview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .recomendedMoviesPreview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .poster_image--loading {
    background: #046fe9;
    object-fit: contain;
    width: 100%;
    height: 280px;
  }
}

@media (min-width: 768px) {
  .cont {
    max-width: 100%;
  }
  .header__cube {
    position: relative;
    margin-left: 10px;
  }
  .backdrop {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  #movieDetail .TPost {
    display: flex;
  }

  #movieDetail figure .poster_path{ 
    max-width: 100%;
    max-height: 420px;
  }

  .description_inside {
    display: block;
  }
  
  #movieDetail .description {
    display: none;
  }
  
  .info p:nth-child(1) {
    margin-top: 1.5rem;
  }

  .info ~ div {
    width: 90%;
  }

  .related_movies {
    /* display: grid; */
    grid-template-columns: auto 33px 260px;

  }

  .related_movies .previewTriller {
    grid-column: 1 / 4;
  }

  .related_movies .mostPopularPreview_container {
    grid-column: 1 / 2;
    /* grid-row: 2 / 3; */
    /* border: 2px solid blue; */
  }

  .home_movies {
    /* display: grid; */
    grid-template-columns: auto 33px 260px;
  }
 
  .mostPopularPreview_movieGrid {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    /* margin-right: 2.5rem; */
    /* gap: 18px; */
  }

  .relatedMoviesPreview_movieGrid {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
  }

  .mostPopularPreview_righ {
    display: flex;
    flex-direction: column;
    grid-column: 3 / 4;
    margin: 0;
  }

  .upcomingMoviesPreview {
    display: flex;
    flex-direction: column;
  }
  .recomendedMoviesPreview {
    display: flex;
    flex-direction: column;
  }

  .carousel_indicators .glider-dot{
    display: block;
    width: 30px;
    height: 4px;
    background: rgba(187, 187, 187, 0.5);
    border-radius: 0;
  }
  .carousel_indicators .glider-dot:hover{
    opacity: 0.5;
  }
  .carousel_indicators .glider-dot.active{
    opacity: 1;
    background: #fff;
  }

  .slideshow_container {
    /* border: 1px solid #007aff; */
    /* float: left; */
    width: auto;
    /* margin-right: 2.2rem; */
    max-height: 100%;
    margin-right: 2.2rem;
  }
  .profile_container .profile_poster {
    width: auto;
    max-height: 445px;
    object-fit: contain;
    float: left;
    border-radius: 3px;
    padding: 0;
    margin: 0;
    /* margin-right: 2.2rem; */
  }

  .also_known #span::before {
    position: absolute;
    top: 0;
    left: 240px;
    cursor: pointer;
    padding-left: 1.2rem;
  }

  .poster_image--loading {
    background: #046fe9;
    object-fit: contain;
    width: 100%;
    height: 300px;
    max-height: 100%;
  }
}

@media (min-width: 992px) {
  .cont {
    max-width: 1140px;
  }

  .headerTop_container {
    display: flex;
    justify-content: space-between;
  }

  .headerTop_container #categories_list {
    margin-bottom: 1.25rem;
    display: flex;
  }

  .related_movies {
    grid-template-columns: auto 33px 260px;
    grid-template-rows:minmax(360px, auto)
  }

  .related_movies .previewTriller {
    grid-column: 1 / 2;
  }

  .related_movies .mostPopularPreview_container {
    grid-column: 1 / 2;
  }

  .mostPopularPreview_movieGrid {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
  }
  .relatedMoviesPreview_movieGrid {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
  }

  .related_movies .mostPopularPreview_righ {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 3;
    margin-top: 0;
  }
  .poster_image--loading {
    background: #046fe9;
    object-fit: contain;
    width: 100%;
    height: 350px;
  }
}

@media (min-width: 1200px) {
  .header__cube {
    margin-left: 0;
  }
  .cont {
    padding-left: 0;
    padding-right: 0;
  }
   #banner header .subTitle {
    text-align: left;
    font-size: calc(0.8vw + 0.125vh + 0.5rem);
    margin-top: 0.5rem;
  }

  .mostPopularPreview_movieGrid {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
  }
  .relatedMoviesPreview_movieGrid {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
  }
}

@media (min-width: 1600px) {
  .cont {
    max-width: 1540px;
  }
  .billed_cast{
    margin-top: 2.5rem;
  }
  .home_movies {
    grid-template-columns: auto 30px 280px;
  }

  .mostPopularPreview_movieGrid {
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
  }
  .relatedMoviesPreview_movieGrid {
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
  }

  .poster_image--loading {
    background: #046fe9;
    object-fit: contain;
    width: 100%;
    height: 310px;
  }

}
